<!--Div for Background-->
<div class="bg text-center">

  <!--Div for Centered Text & Input-->
  <div class="centered">

    <p class="firstLine">Successfully Unsubscribe From SMS / Email Alerts </p>

  </div>



</div>